artist-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  padding: calc(var(--space) * 0.5);
  position: relative;
  z-index: 0;

  a {
    color: white;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }

  img {
    inline-size: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
  }

  img[src=""] {
    opacity: 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: Field;
    z-index: -1;
    border-radius: 8px;
    opacity: 0;
    scale: 0.85;
    transition: opacity 0.1s ease-in, scale 0.1s ease-in;
  }

  &:has(:focus-within)::before {
    opacity: 1;
    scale: 1;
  }

  @container --artist-list (width < 300px) {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0;

    &:has(:focus-within)::before {
      scale: 1.5;
    }

    img {
      width: 2lh;
    }
  }

}