album-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-list-item-min-width), 1fr));
  grid-auto-rows: max-content;

  container-type: inline-size;
  container-name: album-list;

  album-list-item {
    flex: 1;
    flex-basis: 100%;

    padding: 0.75em;

    @container album-list (width > 300px) {
      padding: calc(var(--space) * 0.5);
    }
  }
}