artist-list {
  container-type: inline-size;
  container-name: --artist-list;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-list-item-min-width), 1fr));
  gap: calc(var(--space) * 0.5);
  padding-top: calc(var(--space) + env(safe-area-inset-top));
}