@property --grid-list-item-min-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 100px;
}

app-root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "router"
    "player";


  &>app-header {
    grid-area: header;
  }

  &>album-list,
  &>artist-list {
    grid-area: collection;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-inline: var(--space);
    margin-block-end: 150px;
  }

  &>app-router {
    grid-area: router;
    overflow-y: scroll;
  }

  &>app-player {
    position: fixed;
    bottom: 0;
  }
}


@media (width >=768px) {
  app-root {
    grid-template-areas:
      "header header"
      "collection router"
      "player player";

    grid-template-columns: 360px 1fr;

    &>album-list,
    &>artist-list {
      --grid-list-item-min-width: 200px;
      display: grid;
      max-height: fit-content;
    }
  }
}

app-root:has(app-view-home) {
  grid-template-areas:
    "header"
    "collection"
    "player";
  grid-template-columns: 1fr;

  &>app-router {
    display: none;
  }

  &>album-list,
  &>artist-list {
    display: grid;
  }

}