app-player {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  bottom: 0;
  inline-size: 100%;
  background-color: Canvas;
  padding-block: var(--space);
  padding-inline: var(--space);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  overflow: clip;

  button {
    padding-inline: 0.75em;
    padding-block: 0.5em;
    border-radius: 12px;
    border-color: transparent;
  }

  .current-cover {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    max-width: 100%;
    z-index: -1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      background:
        linear-gradient(90deg, rgb(0 0 0 / 0.25), Canvas 75%),
        linear-gradient(0deg, rgb(0 0 0 / 0) 25%, Canvas 100%);
      z-index: 0;
    }

    & img {
      max-width: 100%;
    }
  }

  .action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: calc(100vw - 88px - (var(--space) * 2));
  }
}