app-player {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  bottom: 0;
  inline-size: 100%;
  background-color: Canvas;
  margin-block-start: var(--space);
  margin-block-end: var(--space);
  padding-inline: var(--space);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;

  button {
    padding-inline: 0.75em;
    padding-block: 0.5em;
    border-radius: 12px;
    border-color: transparent;
  }

  .action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: calc(100vw - 88px - (var(--space) * 2));
  }
}