app-player {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  bottom: 0;
  inline-size: 100%;
  background-color: Canvas;
  margin-block-start: var(--space);
  margin-block-end: var(--space);

  button {
    padding-inline: 0.75em;
    padding-block: 0.5em;
    border-radius: 12px;
    border-color: transparent;
  }

  .action-container {
    display: flex;
    flex-direction: column;
  }
}