devices-selector {
  display: inline-flex;
  width: 44px;
  height: 44px;
  overflow: hidden;
  background-color: ButtonFace;
  border-radius: 100%;
  position: relative;

  &:focus-within {
    outline: SelectedItem auto 1px;
  }

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & select {
    opacity: 0;
  }
}